In [79]:
import pandas as pd

In [80]:
experiment_no = 344
path_timestamp = "D:/big_setup/experiment_{}/camera_timestamps.csv".format(experiment_no)

In [81]:
data = pd.read_csv(path_timestamp)
data.head()

,burrow_side_file_name,burrow_side_frame_idx,burrow_side_time_from_vid_start,concat_burrow_side_frame_idx,concat_burrow_side_time_from_vid_start,burrow_top_file_name,burrow_top_frame_idx,burrow_top_time_from_vid_start,concat_burrow_top_frame_idx,concat_burrow_top_time_from_vid_start,...,nest_top_frame_idx,nest_top_time_from_vid_start,concat_nest_top_frame_idx,concat_nest_top_time_from_vid_start,clk_ch_file_name,clk_ch_sample_idx,time_from_clk_ch_start,mics_file_idx,concat_clk_ch_sample_idx,concat_time_from_clk_ch_start
0,D:/big_setup/experiment_344/videos\burrow_side...,0,0.000000,0,0.000000,D:/big_setup/experiment_344/videos\burrow_top-...,0,0.000000,0,0.000000,...,0,0.000000,0,0.000000,D:/big_setup/experiment_344/nidaq\acquisition_...,5177786,41.422288,0,5177786,41.422288
1,D:/big_setup/experiment_344/videos\burrow_side...,1,0.033333,1,0.033333,D:/big_setup/experiment_344/videos\burrow_top-...,1,0.033333,1,0.033333,...,1,0.033333,1,0.033333,D:/big_setup/experiment_344/nidaq\acquisition_...,5181953,41.455624,0,5181953,41.455624
2,D:/big_setup/experiment_344/videos\burrow_side...,2,0.066667,2,0.066667,D:/big_setup/experiment_344/videos\burrow_top-...,2,0.066667,2,0.066667,...,2,0.066667,2,0.066667,D:/big_setup/experiment_344/nidaq\acquisition_...,5186119,41.488952,0,5186119,41.488952
3,D:/big_setup/experiment_344/videos\burrow_side...,3,0.100000,3,0.100000,D:/big_setup/experiment_344/videos\burrow_top-...,3,0.100000,3,0.100000,...,3,0.100000,3,0.100000,D:/big_setup/experiment_344/nidaq\acquisition_...,5190286,41.522288,0,5190286,41.522288
4,D:/big_setup/experiment_344/videos\burrow_side...,4,0.133333,4,0.133333,D:/big_setup/experiment_344/videos\burrow_top-...,4,0.133333,4,0.133333,...,4,0.133333,4,0.133333,D:/big_setup/experiment_344/nidaq\acquisition_...,5194453,41.555624,0,5194453,41.555624

In [82]:
data.tail()

,burrow_side_file_name,burrow_side_frame_idx,burrow_side_time_from_vid_start,concat_burrow_side_frame_idx,concat_burrow_side_time_from_vid_start,burrow_top_file_name,burrow_top_frame_idx,burrow_top_time_from_vid_start,concat_burrow_top_frame_idx,concat_burrow_top_time_from_vid_start,...,nest_top_frame_idx,nest_top_time_from_vid_start,concat_nest_top_frame_idx,concat_nest_top_time_from_vid_start,clk_ch_file_name,clk_ch_sample_idx,time_from_clk_ch_start,mics_file_idx,concat_clk_ch_sample_idx,concat_time_from_clk_ch_start
4973400,D:/big_setup/experiment_344/videos\burrow_side...,3865,128.833333,4973400,165780.000000,D:/big_setup/experiment_344/videos\burrow_top-...,3955,131.833333,4973400,165780.000000,...,4465,148.833333,4973400,165780.000000,D:/big_setup/experiment_344/nidaq\acquisition_...,24816094,198.528752,552,20724816094,165798.528752
4973401,D:/big_setup/experiment_344/videos\burrow_side...,3866,128.866667,4973401,165780.033333,D:/big_setup/experiment_344/videos\burrow_top-...,3956,131.866667,4973401,165780.033333,...,4466,148.866667,4973401,165780.033333,D:/big_setup/experiment_344/nidaq\acquisition_...,24820261,198.562088,552,20724820261,165798.562088
4973402,D:/big_setup/experiment_344/videos\burrow_side...,3867,128.900000,4973402,165780.066667,D:/big_setup/experiment_344/videos\burrow_top-...,3957,131.900000,4973402,165780.066667,...,4467,148.900000,4973402,165780.066667,D:/big_setup/experiment_344/nidaq\acquisition_...,24824428,198.595424,552,20724824428,165798.595424
4973403,D:/big_setup/experiment_344/videos\burrow_side...,3868,128.933333,4973403,165780.100000,D:/big_setup/experiment_344/videos\burrow_top-...,3958,131.933333,4973403,165780.100000,...,4468,148.933333,4973403,165780.100000,D:/big_setup/experiment_344/nidaq\acquisition_...,24828594,198.628752,552,20724828594,165798.628752
4973404,D:/big_setup/experiment_344/videos\burrow_side...,3869,128.966667,4973404,165780.133333,D:/big_setup/experiment_344/videos\burrow_top-...,3959,131.966667,4973404,165780.133333,...,4469,148.966667,4973404,165780.133333,D:/big_setup/experiment_344/nidaq\acquisition_...,24832761,198.662088,552,20724832761,165798.662088

In [83]:
edit_columns = []
for i in data.columns:
     if 'file_name' in i:
          edit_columns.append(i)

for i in edit_columns:
    data[i] =  data[i].str.replace('D:','/mnt/home/neurostatslab/ceph/saneslab_data',regex = True)

In [84]:
display(data.head())

,burrow_side_file_name,burrow_side_frame_idx,burrow_side_time_from_vid_start,concat_burrow_side_frame_idx,concat_burrow_side_time_from_vid_start,burrow_top_file_name,burrow_top_frame_idx,burrow_top_time_from_vid_start,concat_burrow_top_frame_idx,concat_burrow_top_time_from_vid_start,...,nest_top_frame_idx,nest_top_time_from_vid_start,concat_nest_top_frame_idx,concat_nest_top_time_from_vid_start,clk_ch_file_name,clk_ch_sample_idx,time_from_clk_ch_start,mics_file_idx,concat_clk_ch_sample_idx,concat_time_from_clk_ch_start
0,/mnt/home/neurostatslab/ceph/saneslab_data/big...,0,0.000000,0,0.000000,/mnt/home/neurostatslab/ceph/saneslab_data/big...,0,0.000000,0,0.000000,...,0,0.000000,0,0.000000,/mnt/home/neurostatslab/ceph/saneslab_data/big...,5177786,41.422288,0,5177786,41.422288
1,/mnt/home/neurostatslab/ceph/saneslab_data/big...,1,0.033333,1,0.033333,/mnt/home/neurostatslab/ceph/saneslab_data/big...,1,0.033333,1,0.033333,...,1,0.033333,1,0.033333,/mnt/home/neurostatslab/ceph/saneslab_data/big...,5181953,41.455624,0,5181953,41.455624
2,/mnt/home/neurostatslab/ceph/saneslab_data/big...,2,0.066667,2,0.066667,/mnt/home/neurostatslab/ceph/saneslab_data/big...,2,0.066667,2,0.066667,...,2,0.066667,2,0.066667,/mnt/home/neurostatslab/ceph/saneslab_data/big...,5186119,41.488952,0,5186119,41.488952
3,/mnt/home/neurostatslab/ceph/saneslab_data/big...,3,0.100000,3,0.100000,/mnt/home/neurostatslab/ceph/saneslab_data/big...,3,0.100000,3,0.100000,...,3,0.100000,3,0.100000,/mnt/home/neurostatslab/ceph/saneslab_data/big...,5190286,41.522288,0,5190286,41.522288
4,/mnt/home/neurostatslab/ceph/saneslab_data/big...,4,0.133333,4,0.133333,/mnt/home/neurostatslab/ceph/saneslab_data/big...,4,0.133333,4,0.133333,...,4,0.133333,4,0.133333,/mnt/home/neurostatslab/ceph/saneslab_data/big...,5194453,41.555624,0,5194453,41.555624

In [85]:
data.to_csv(path_timestamp, index= False)